body {
  height: 2000px;
  font-family: 'Raleway', sans-serif;
}

nav{
  height: 100px;
  background-color: white;
  position: fixed;
  z-index: 300;
  width: 100%;
  top: 0;
  border-bottom: 1px solid rgb(181, 177, 177);
  box-shadow: 0px 0px 35px #898989;
}

#logo_and_name {
  position: relative;
  left: 6.5%;
  height: 100px;
  width: 520px;
  margin: 0px 0px 0px 15px;
}

#start_text {
  display: none;
  z-index: 10;
  position: absolute;
  top: 365px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: rgb(255, 255, 255);
  padding: 25px;
  text-transform: uppercase;
  text-align: center;
  width: 75%;
}

#full_content {
  position: absolute;
  padding-top: 1000px;
  width: 100%;
}

#full_content img {
  position: absolute;
}

.text_article {
  padding: 70px 90px;
  color: rgb(123, 123, 123);
  background-color: white;
  text-align: justify;
}

#area_and_transport {
  padding: 70px 90px 145px 90px;
}

h1 {
  font-size: 1.4em;
  font-weight: 400;
  color: rgb(248, 152, 41);
  margin-bottom: 10px;
}

.text_article  p {
  line-height: 27px;
}

table {
  font-size: 79%;
  display: inline-block;
  margin: 3%;
  vertical-align: top;
}

th {
  padding-bottom: 10px;
  font-size: 1.1em;
}

td {
  padding: 4px 35px 4px 0px;
}

#features {
  background-color: rgba(248, 152, 41, 0.9);
  margin-left: 743px;
  height: 495px;
}

#features article {
  padding: 14% 30%;
  line-height: 25px;
}

#features article h1 {
  color: rgb(250, 250, 250)
}

#features article p {
  color: rgb(61, 61, 61);
}

nav img {
  position: fixed;
  top: 7.5px;
}

nav h1 {
  font-size: 2.8em;
  font-weight: 300;
  margin-left: 120px;
  line-height: 95px;
  display: inline-block;
  color: rgb(123, 123, 123);
}

#inline_nav {
  list-style-type: none;
  padding: 0;
  float: right;
  margin-top: -60px;
  margin-right: 6.8%;
}

#inline_nav li {
  display: inline;
}

#inline_nav li a {
  font-weight: 400;
  color: rgb(248, 152, 41);
  text-align: center;
  padding: 17px;
  text-decoration: none;
  text-transform: uppercase;
}

#inline_nav li a:hover {
  color: rgb(123, 123, 123);
}

#index_nav {
  display: none;
}

#transport {
  color: white;
  background-color: rgb(123, 123, 123);
}

#tube_map {
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
}

#tube_map img {
  padding: 0px 50px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

#tube_map img#distance_tube {
  padding: 35px 0px;
}

#contact_form {
  display: inline-block;
  float: left;
  padding: 75px;
}

#contact_form h1 {
  margin-bottom: 40px;
  color: rgb(255, 255, 255);;
}

label {
  margin-right: 44px;
}

input[type="text"], input[type="email"], textarea {
  width: 65%;
  height: 25px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.27); 
  resize: none;
  margin: 5px 0px 10px 0px;
} 

textarea {
  width: 90%;
  height: 200px;
}

input[type='checkbox'] {
  margin: 5px 4px 10px 4px;
}

input[type='submit'] {
  font-size: 1em;
  background: #FFFFFF;
  color: #F89829;
  width: 91.6%;
  border: 1px solid #FFFFFF;
  padding: 7px 0px;
}

input[type='submit']:hover {
  background: rgba(255, 255, 255, 0.27);
  color: #FFFFFF;
  cursor: pointer;
}


#form_and_about {
  background-color: rgba(248, 152, 41, 0.9);
  color: white;
  display: inline-block;
}

#about_us {
  display: table;
  padding: 75px;
  text-align: justify;
}

#about_us h1 {
  color: white;
  margin-bottom: 36px;
}

#about_us p {
  line-height: 27px;
}

#about_us img {
  position: relative;
  width: 60%;
  left: 18%;
  padding: 4% 0%;
}

#slider { 
display: block;
position: relative;
overflow: hidden;
}

#slider figure img { 
  width: 20%; 
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  overflow: auto;
  right: 0;
  top: 0;
}
#slider figure { 
  position: fixed;
  padding-top: 100px;
  width: 500%;
  margin: 0;
  left: 0;
  font-size: 0;
  -webkit-animation: 30s slidy infinite;
  -moz-animation: 30s slidy infinite;
  animation: 30s slidy infinite;
}

@keyframes slidy {
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

@-webkit-keyframes slidy /* Safari and Chrome */
{
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

footer {
  padding: 25px;
  background-color: white;
  text-align: center;
  margin-top: -3px;
  line-height: 21px;
  font-size: 0.9em;
  color: grey;
}

footer h1 {
  display: inline-block;
  font-size: 2em;
  margin-right: 8px;
  font-weight: bold;
}

footer h2 {
  display: inline;
  color: rgb(123, 123, 123);
  font-size: 2em;
}

footer a {
  text-decoration: none;
  color: rgb(248, 152, 41);
}

footer a:hover {
  color: rgb(123, 123, 123);
}

@media screen and (min-width : 895px) and (max-width : 1295px) {

  #inline_nav {
    margin-right: 16px;
  }

  #inline_nav li a {
    padding: 7px;
  }

  nav h1 {
    font-size: 2.1em;
    margin-left: 105px;
  }

  #logo_and_name {
    width: 465px;
    left: 0.5%;
  }

  #index_nav {
    display: none;
  }

  #start_text {
    top: 35%;
    font-size: 2.5em;
    transform: translate(-50%, -50%);
    padding: 13px;
  }

  #start_text h2 {
   font-size: 0.9em;
  }

  #full_content {
    padding-top: 52%;
  }

  #full_content #site_plan img {
    width: 500px;
  }

  #full_content #about_us img {
    width: 99%;
    left: 1%;
    padding: 19% 0%;
  }

  #features {
    background-color: rgba(248, 152, 41, 0.9);
    margin-left: 500px;
    height: 333px;
  }

  #features article {
    padding: 8.6% 25%;
    line-height: 21px;
  }

  #features ul {
    font-size: 0.8em;
  }

  table {
    font-size: 68%;
    display: inline-block;
    margin: 3%;
    vertical-align: top;
  }

  #tube_map img {
    width: 700px;
  }

  #about_us {
    padding: 75px 75px 75px 45px;
  }

  #about_us p {
    font-size: 0.9em;
  }

}

@media screen and (min-width : 400px) and (max-width : 894px) {


  #index_nav {
    display: inline-block;
    float: right;
    margin: -90px 0px 0px 0px;
  }

  #inline_nav {
    display: none;
  }

  nav h1 {
    font-size: 1.6em;
    margin-left: 101px;
    margin-top: 35px;
    line-height: 26px;
  }

  #logo_and_name {
    width: 330px;
    left: 0px;
  }

  #index_icon {
    right: -22px;
    position: relative;
    width: 60px;
  }

  #index_icon:hover {
    opacity: 0.7;
  }

  #start_text {
    top: 208px;
    font-size: 1.4em;
    width: 75%;
    padding: 13px;
  }

  #full_content {
    padding-top: 350px;
  }

  #full_content #site_map img {
    width: 400px;
    padding: 32px 0px 0px 0px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

   #full_content #site_plan img {
    left: 50%;
    transform: translate(-50%);
    height: 333px;
  }

  h1 {
    font-size: 1.1em;
  }

  .text_article {
    padding: 40px 52px;
  }

  .text_article  p {
    font-size: 0.8em;
  }

  #features {
    background-color: rgba(248, 152, 41, 0.9);
    margin-left: 0;
    height: 316px;
  }

  #features article {
    padding: 9% 27%;
    line-height: 21px;
  }

  #features ul {
    font-size: 0.8em;
  }

  #site_plan {
    height: 333px;
    background-color: rgb(229, 229, 229);
  }

  #index_nav li ul {
    margin-top: 27px;
    visibility: hidden;
  }

  #index_nav li:hover ul {
    visibility: visible;
  }

  #index_nav li ul li {
    text-align: center;
    padding: 9px 7px;
    background-color: rgba(250, 250, 250, 0.9);
  }

  #index_nav li ul li:hover {
    background-color: rgb(250, 250, 250);
  }

  #index_nav li ul li a {
    color: rgb(248, 152, 41);
    text-decoration: none;
  }

  table {
    font-size: 68%;
    display: inline-block;
    margin: 5% 0%;
    vertical-align: top;
  }

  #tube_map img {
    width: 409px;
    padding: 32px 0px 0px 0px;
  }

  #about_us img {
    width: 68%;
  }

  #about_us {
    padding: 20px 75px 75px 45px;
    min-width: 206px;
  }

  #contact_form {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  #about_us p {
    font-size: 0.8em;
  }

  #about_us h1 {
    margin-bottom: 10px;
  }

  footer {
    font-size: 0.75em;
  }

}

@media screen and (min-width : 320px) and (max-width : 399px) {

  #inline_nav {
    display: none;
  }

  nav img {
    width: 70px;
    top: 14.5px;
  }

  nav h1 {
    font-size: 1.6em;
    margin-left: 87px;
    margin-top: 26px;
    line-height: 26px;
  }

  #logo_and_name {
    width: 250px;
    left: -1.5%;
  }

  #index_nav {
    display: inline-block;
    float: right;
    margin: -90px 0px 0px 0px;
  }
 
  #index_icon {
    right: -38px;
    position: relative;
    width: 49px;
  }

  #index_icon:hover {
    opacity: 0.7;
  }

  #start_text {
    top: 184px;
    font-size: 1em;
    width: 175px;
    padding: 13px;
  }

  #full_content {
    padding-top: 264px;
  }

  .text_article {
    padding: 22px 28px;
  }

  .text_article  p {
    font-size: 0.8em;
    line-height: 20px;
    }

  h1 {
    font-size: 1em;
  }

  #site_plan {
    height: 200px;
    background-color: rgb(229, 229, 229);
  }

  #full_content img {
    width: 300px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #features {
    margin-left: 0;
    height: 316px;
  }

  #features article {
    padding: 33px 35px;
    line-height: 21px;
  }

  #features ul {
    font-size: 0.8em;
  }

  #index_nav li ul {
    margin-top: 27px;
    visibility: hidden;
  }

  #index_nav li:active ul {
    visibility: visible;
  }

  #index_nav li ul li {
    text-align: center;
    padding: 9px 7px;
    background-color: rgba(250, 250, 250, 0.9);
  }

  #index_nav li ul li:active {
    background-color: rgb(250, 250, 250);
  }

  #index_nav li ul li a {
    color: rgb(248, 152, 41);
    text-decoration: none;
  }

  table {
    font-size: 60.4%;;
    margin: 8% 0% 0% 0%;
  }

}