nav{
  height: 100px;
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  border-bottom: 1px solid rgb(181, 177, 177);
  box-shadow: 0px 0px 35px #898989;
}

#logo_and_name {
  position: relative;
  left: 6.5%;
  height: 100px;
  width: 520px;
  margin: 0px 0px 0px 15px;
}

#start_text {
  display: none;
  z-index: 10;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 365px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: rgb(119, 119, 119);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px;
  border: 1px solid white;
  text-transform: uppercase;
  text-align: center;
}

nav img {
  position: fixed;
  top: 7.5px;
}

nav h1 {
  font-size: 2.8em;
  font-weight: 300;
  margin-left: 120px;
  line-height: 95px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  color: rgb(123, 123, 123);
}

nav header ul {
  list-style-type: none;
  padding: 0;
  float: right;
  margin-top: -60px;
  margin-right: 6.8%;
}

nav header ul li {
  display: inline;
}

nav header ul li a {
  font-weight: 400;
  color: rgb(248, 152, 41);
  text-align: center;
  padding: 17px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

nav header ul li a:hover {
  color: rgb(123, 123, 123);
}

#index_icon {
  display: none;
}

#slider { 
display: block;
position: relative;
overflow: hidden;
}


#slider figure img { 
  width: 20%; 
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  overflow: auto;
  right: 0;
  top: 0;
}
#slider figure { 
  position: fixed;
  padding-top: 100px;
  width: 500%;
  margin: 0;
  left: 0;
  font-size: 0;
  -webkit-animation: 30s slidy infinite;
  -moz-animation: 30s slidy infinite;
  animation: 30s slidy infinite;
}

@keyframes slidy {
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

@-webkit-keyframes slidy /* Safari and Chrome */
{
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

@media screen and (min-width : 894px) and (max-width : 1295px) {

  nav header ul {
    margin-right: 16px;
  }

  nav header ul li a {
    padding: 7px;
  }

  nav h1 {
    font-size: 2.1em;
    margin-left: 105px;
  }

  #logo_and_name {
    width: 465px;
    left: 0.5%;
  }

  #index_icon {
    display: none;
  }
}

@media screen and (min-width : 400px) and (max-width : 895px) {

  nav header ul {
    display: none;
  }

  nav h1 {
    font-size: 1.6em;
    margin-left: 101px;
    margin-top: 35px;
    line-height: 26px;
  }

  #logo_and_name {
    width: 330px;
    left: 0px;
  }

  #index_icon {
    display: inline-block;
    position: relative;
    float: right;
    margin: -90px 15px 0px 0px;
    width: 60px;
  }

  #index_icon:hover {
    opacity: 0.7;
  }

  #start_text {
    top: 208px;
    font-size: 1.4em;
    width: 295px;
    padding: 13px;
  }

}

@media screen and (min-width : 320px) and (max-width : 399px) {

  nav header ul {
    display: none;
  }

  nav img {
    width: 70px;
    top: 14.5px;
  }

  nav h1 {
    font-size: 1.6em;
    margin-left: 87px;
    margin-top: 26px;
    line-height: 26px;
  }

  #logo_and_name {
    width: 250px;
    left: -1.5%;
  }

  #index_icon {
    display: inline-block;
    position: relative;
    float: right;
    margin: -90px 15px 0px 0px;
    width: 49px;
  }

  #index_icon:hover {
    opacity: 0.7;
  }

  #start_text {
    top: 184px;
    font-size: 1em;
    width: 175px;
    padding: 13px;
  }

}